PORT=3000
BACKEND_URL=http://localhost:3000

# LLM Config (OpenAI, OpenRouter, TogetherAI, etc.)
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
LLM_MODEL=gpt-4o-mini

# Email Sending (Resend API)
RESEND_API_KEY=
FROM_EMAIL=

# Telegram Bot Config
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
